body {
    margin: 0;
}

#expand-btn {
    display: none;
}

#navbar {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 17px;
}

#navbar > a#logo {
    box-sizing: border-box;
    display: block;
    height: 52px;
    padding: 17px 0;
    margin-right: 47px; /* not scaleable */
}

#navbar > a#logo img {
    position: relative;
    bottom: 1px;
    height: 18px; /* 52 - 2 * 17 */
}

#navbar > div {
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

#navbar > div:hover {
    cursor: pointer;
}

#navbar > div > a {
    text-align: center;
    color: #121212;
    text-decoration: none;
}

#navbar > div.part {
    margin-right: 55px;
    transition-duration: .3s;
}

#navbar > div.highlighted,
#navbar > div.part:hover {
    border-bottom: 3px solid #5171ad;
}

#navbar > div.part > a {
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 13px;
}

#navbar > div#takeaways {
    min-width: 256px; /* EXACT VALUE BASED ON TEXT */
    max-width: 260px; /* More flexible value */
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}

#navbar > div#takeaways > a {
    color: #999;
    text-align: left;
}

/* After first foldpoint, equivalent to evenly spacing everything  */
@media (max-width: 1181px) {
    #navbar {
        justify-content: space-between;
    }

    #navbar > div.part,
    #navbar > a#logo {
        margin-right: 30px;
    }
}

/* Second foldpoint, when headers wrap to 3 lines */
@media (max-width: 895px) {
    #navbar {
        height: 52px;
        flex-direction: column;
        justify-content: flex-start;
    }

    #navbar > div.part,
    #navbar > a#logo {
        margin-right: 0;
    }

    #navbar > div {
        min-height: 52px;
    }

    #expand-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #expand-btn:hover {
        cursor: pointer;
    }

    #expand-btn > svg {
        width: 35px;
    }

    #expand-btn > svg > path {
        fill: #444;
    }
}































